<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>forget me not</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-app="forgetmenot" ng-controller="controller as ctrl">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-push-2">
        <h1 class="text-center">forget me not</h1>
        <span> web3 available: {{ctrl.foundWeb3}} </span><br>
        <span> web3 version: {{ctrl.web3Version}} </span><br>
        <span> coinbase: {{ctrl.coinbase}} </span><br>
        <span> balance: {{ctrl.balance}} </span><br>
        <button class="btn btn-default btn-adopt" type="button" data-id="0" ng-click="ctrl.refresh()">REFRESH</button>
        <hr/>
        <br/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="panel panel-default panel-pet">
          <div class="panel-heading">
            <h3 class="panel-title">Add Event</h3>
          </div>
          <div class="panel-body">
            <strong>Key</strong><br>
            <input class="form-control" type="text" ng-model="newKey"><br>

            <strong>Value</strong><br>
            <textarea class="form-control" rows="5" maxlength="140" ng-model="newValue"></textarea><br/>

            <button class="btn btn-default btn-adopt" type="button" data-id="0" ng-click="ctrl.addEvent(newKey, newValue)">Add</button>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="event in ctrl.events">
        <div class="panel panel-default panel-pet">
          <div class="panel-heading">
            <h3 class="panel-title">@BlockNumber {{event.createdBlock}} <span ng-if="event.latest">Latest</span> </h3>
          </div>
          <div class="panel-body">
            <strong>Key</strong>
            <p>{{event.key}}</p>

            <strong>Value</strong>
            <p>{{event.value}}</p>

            <strong>Previous Event</strong>: <p>{{event.linkToPreviousBlock}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="js/angularjs.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/app.js"></script>

</body>

</html>